* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
body {
  font-family: Arial, Helvetica, sans-serif; 
}
.container {
   
    margin: 20px auto 0 auto; 
    width: 1140px;
}
.blog-post {
    
    width: 75%;
    float: left;
    padding-right: 30px;
}
.other-posts {
    
    width: 25%;
    float: left;
}
.author-box {
    border-top: 1px solid gray;
    padding-top: 20px;
}

h1,h2,h3 {
    color: rgba(151, 152, 155, 0.966);
}
h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
h2 {font-size: 25px;
    margin-bottom: 10px;
}
p {
    font-size: 18px;
    margin-bottom: 20px;
}
.main-text {
    text-align:justify ;
}
.author-text {
    font-size: 25px;
    float: left;
    margin-top: 30px;
    margin-left: 20px;
}
.other {
    margin-bottom: 20px;
}
.author-box img {
    height: 100px;
    float: left;
}